.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  width: 100%;
}
.navbar > h4 {
  margin-left: 30px;
  margin-top: 0.5rem;
}
.navbar > div {
  margin-right: 19px;
  margin-top: 0.5rem;
  cursor: pointer;
}
.navbar > div > svg {
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
}
.navbar > div > svg:hover{
  color: rgb(233, 16, 16);
}

.navbar2 {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.navbar2 > div {
  padding: 1.3rem;
  cursor: pointer;
}

.navbar2 > div:hover{
  color: rgb(233, 16, 16);
}

.navbar3 {
  display: flex;
  height: 6rem;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}
.navbar3 > div {
  margin: auto;
  cursor: pointer;
}

.navbar3 > div:hover{
  color: rgb(233, 16, 16);
}

@media screen and (max-width: 820px) {
  .navbar2 > div {
    padding: 0.5rem;
  }
}
